.mainframe{
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  overflow: hidden;
  display: flex;
  background: #1c1f2b;
}
/* IMAGESIDE------------------------------------------------- */
.imageside{
  display: flex;
  align-items: start;
  width: 75vw; 
}
.imageside img{
  margin-top: 25vh;
  height: 30vh;
  width: 65%;
}
/* -----------------------------------------------------------*/

.boxside{
  border: solid 1PX #F5F5F5;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: white

  
}


.boxside input{
  background-color: #1c1f2b;
  border-color: black;
  margin-left: 11%;
  width: 75%;
  height: 30px;
}
.boxside label{
  margin-top: 10%;
  margin-left: 11%;
  text-align: left;
}

.boxside a{
  margin-left: 11%;
  text-align: left;
}
.boxside button{
  margin-left: 11%;
  background-color: black;
  color: #F5F5F5;
  height: 50px;
  width: 75%;
  margin-top: 10%;
  margin-bottom: 11%;

}

.inputbox{
  display: flex;
  flex-direction: column;
}
